<ion-content class="ion-padding" [fullscreen]="true">
  <div class="container">
    <ion-text color="dark ion-text-center">
      <h1>PRODUCTOS GAME STORE</h1>
    </ion-text>
    <div class="border-top my-3"></div>
    <ion-grid class="mt-5">
      <ion-row class="row justify-content-center">
        <ion-col >
          <a routerLink="/products/create" class="icon dark">
            <img src="./assets/img/icon-add-product.png"/>
          </a>
          <ion-text color="dark ion-text-center">
            <h1>Crear Producto</h1>
          </ion-text>
        </ion-col>
        <ion-col >
          <a routerLink="/products/update" class="icon dark">
            <img src="./assets/img/icon-settings.png"/>
          </a>
          <ion-text color="dark ion-text-center">
            <h1>Modificar Producto</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>
